@page
@model CarRentalWeb.Pages.TestJQueryModel
@{
}

<head>
        <meta charset="utf-8" />
        <title>Datepicker example</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <input id="datepicker1" width="200" />
        <input id="datepicker2" width="200" />
        <script>
            $('#datepicker1').datepicker(
                {
                    dateFormat: "yy-mm-dd",
                    minDate: new Date(),
                    value: new Date(),
                    //maxDate: new Date("2022-05-10")
                });

            $('#datepicker2').datepicker({
                dateFormat: "yy-mm-dd",
            });

            //$('#datepicker1').change(function () {
            //    startDate = $(this).datepicker('getDate');
            //    $("#datepicker2").datepicker("option", "minDate", startDate);
            //})

            //$('#datepicker2').change(function () {
            //    endDate = $(this).datepicker('getDate');
            //    $("#datepicker1").datepicker("option", "maxDate", endDate);
            //})

                //$(function () {
                //    $("#datepicker1").datepicker({});
                //});

                //$(function () {
                //    $("#datepicker2").datepicker({});
                //});

               
        </script>
    </body>